<div id="div_BOX_firm">
	<div id="firm_ditels">
							<div id="main_info_firm">O firmie</div>
								<div id="about_insite_text" onclick="on_edtor('content_editor','edit_form_firm_info','text_JS',[#ID#],'about_firm','save_ICON','cancel_ICON')">
									<img   id="Photo_firm" src="[#PHOTO#]">
									<spam id="text_JS">
										[#CONTENT#]
									</spam>
								</div>

								
	</div>
						<br>
	<div id="content_editor">
		<div id="editor_menu">
			<div id="save_ICON">
				zapisz
			</div>
			<div id="cancel_ICON">
				anuluj
			</div>
		</div>
			<textarea id="edit_form_firm_info"></textarea>
	</div>
</div>
