<div id="div_BOX_firm">
	<div id="firm_ditels">
							<div id="main_info_firm">O firmie</div>
								<div id="about_insite_text" onclick="on_edtor('content_editor','edit_form_firm_info','text_JS','about','about_firm')">
									<div id="Photo_firm">
									</div>
									<spam id="text_JS">
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									Budinox jest firma która zajmuje sie prudkuccjia balustrad na terenie calej poslki
									</spam>
								</div>

								
	</div>
						<br>
						<div id="content_editor">
							<div id="editor_menu">
								<div id="save_ICON">
								 	zapisz
								</div>
								<div id="cancel_ICON">
									anuluj
								</div>
							</div>

							<textarea id="edit_form_firm_info"></textarea>
	</div>
</div>