<div id="main_edition">
	<div id="view_place"></div>
	<div id="hed_title">wybiesz część do Edycji</div>
	<div id="menu_div">
		<div onmouseover="show_elment('galery')" id="menu_edition_lost" onclick="load_edition('galleadd')">Dodaj zdjecie do galeri</div>
		<div onmouseover="show_elment('about_firm')" id="menu_edition"onclick="load_edition('about_firm')">O firmie</div>
		<div onmouseover="show_elment('contact')" id="menu_edition" onclick="load_edition('contact')">kontakt</div>
		<div onmouseover="show_elment('ofert')" id="menu_edition" onclick="load_edition('ofert')">usługi</div>
		<div onmouseover="show_elment('slide_main_PLace')" id="menu_edition" onclick="load_edition('slide_main_PLace')">slide</div>
	</div>
</div>
<div id="notice_slide"></div>
<div id="edition_section" >
</div>
