<div id="div_BOX">
	<div id="kontakt_ditels" onclick="on_edtor('content_editor_contact','edit_form_firm_info_contact','text_JS_contact',[#ID#],'contact','save_ICON_contact','cancel_ICON_contact')">
		<div id="map"></div>
			<spam id="text_JS_contact">
				[#CONTENT#]
			</spam>
			<!--
			<div id="main_info">Dane Kontaktowe</div>
			<div id="owner">Własciciel:Łukasz Murawski</div>
			<div id="place">Miejscowsc: Łowicz</div>
			<div id="Adres">Adress:     Dąbowice Dolne 50</div>
			<div id="code_post">Kod Pocztowy :99-400</div>
			<div id="emil">E-mail :lukasz@;ukszasz.pl</div>
			<div id="phone">Telefon :777 xxx xxx</div> 
			-->
	</div>
	<div id="content_editor_contact">
		<div id="editor_menu">
			<div id="save_ICON_contact">
				zapisz
			</div>
			<div id="cancel_ICON_contact">
				anuluj
			</div>
		</div>
			<textarea id="edit_form_firm_info_contact"></textarea>
	</div>
	<div id="sent_mes" onclick="sent_mess()">Wyslij Wiadmosc</div>
</div>