
	body{
		background-image: url("web/binding_light.png");
		margin: auto;
		width: 1024px;
		margin-top: 30px;
	}
	#main_page,#about_firm,#ofert,#galery,#contact{
		display: none;
	}
	#contact,#about_firm{
		padding-top: 100px;
		padding-left: 250px;
		padding-right: 250px;
	}
	#ofert{
		padding: 50px;
	}
	#slide_text,#slide_text2,#slide_text3,#slide_text4{
		background-image: url("web/irongrip.png");
		margin-left: 80px;
		width: 250px;
		height: 150px;
		display: none;
		border-radius: 5px;
		box-shadow:0 0 6px black;
	}
	#dark{
		width: 0px;
		position: absolute;
		background-color: black;
		left: 0px;
		top:0px;
		height: 0px;
		opacity: 0.7;
		text-align: center;

	}
	#first_contact{
		text-align: center;
		text-transform: uppercase;
		color: white;
		letter-spacing: 3px;
		font-size: 20px;
		text-shadow:2px 3px 6px gray;
	}
	#select_subject,#name{
		width: 600px;
		margin: 10px;
		padding: 10px;
		text-transform: uppercase;
		opacity: 0.7;
	}
	#name{
		width: 570px;
	}
	#contents_text{
		text-align: center;
		text-transform: uppercase;;
		width: 600px;
		height: 200px;
		opacity: 0.7;
	}
	#contents_text:hover,#select_subject:hover,#name:hover{
		opacity: 1;
	}
	#chused_elemnt{
		text-align: center;
	}
	#text_ofert{
		margin-left: 50px;
	}
	#text_insite{
		font-size: 20px;
		padding:20px;
		color:white;
	}
	#contact_info{
		width: 725px;
		height: 550px;
		border-radius: 5px;
		background: black;
		position: absolute;
		margin-top: 125px;
		margin-left: 150px;
		display: none;
  		padding:15px;
  		box-shadow:3px 3px 6px black;
		background-image: url("web/dark_geometric.png");
	}
	#corent_photo{
		display: none;
	}
	#sort_cats{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 150px;
		padding-right: 150px; 
	}
	#name,#phon,#emial{
		margin-bottom: 10px;
	}
	#contakt_info,#Ofert_info,#firm_info,#galery_info{
		display: none;
		padding: 20px;
		padding-top: 40px;
	}
	#kontakt_infotekst:hover,#kontakt_infotekst_ofert:hover,#kontakt_infotekst_FIRM:hover,#galery_infotekst:hover{
		background-image: url("web/menuhover2.png");
		color: white;
	}
	#kontakt_infotekst,#kontakt_infotekst_ofert,#kontakt_infotekst_FIRM,#galery_infotekst{
		background-image: url("web/menunothover.png");
		padding: 10px;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	#div_BOX{
		width: 500px;
		height: 400px;
		background-image: url("web/white_plaster.png");
		border-radius: 5px;
		box-shadow:0 0 6px black;
		padding: 20px;
	}
	#kontakt_infotekst_ofert,#kontakt_infotekst_FIRM,#galery_infotekst{
		font-size: 12px;
		letter-spacing: none;
	}
	#insite{
		float: left;
	}
	#kontakt_ditels{
		width: 500px;
		height: 250px;
	}
	#sent_mes{
		text-align: center;
		text-transform: uppercase;
		padding: 20px;
		background-color: gray;
		color: white;

	}
	#main_info,#owner,#owner,#Adres,#code_post,#emil,#phone{
		margin: 10px;
	}
	#main_info,#main_info_ofert{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
		text-shadow:0 0 6px gray;

	}
	#main_info_ofert{
		font-size: 25px;
	}
	#map{
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		width: 200px;
		height: 200px;
		background-color: black;
	}
	#galery_infotekst{
		font-size: 10px;
		letter-spacing: none;
	}
	#hover_div,#hover_Ofert,#hover_firm,#hover_galery{
		width: 0px;
		background-image: url("web/irongrip.png");
		background-color: black;
		height: 150px;

	}
	#left_site{
		padding: 10px;
		margin-left: 100px;
	}
	#ofert_not_active,#ofert_active{
		padding: 20px;
		background-color: gray;
		color:white;
		margin-top:20px;
		text-transform: uppercase;
	}
	#ofert_text,#ofert_text1,#ofert_text2,#ofert_text3{
		display: none;
		padding: 20px;
		background-color: brown;
		margin-left: 20px;
		margin-right: 20px;
		border-radius: 0px 0px 20px 20px;
	}
	#ofert_not_active:hover{
		background-color: red;
	}
	#ofert_active{
		background-color: black;
	}
	#min_title_contact,#min_title_Ofert{
		text-transform: uppercase;
		font-style: bold;
		margin-bottom: 10px;
		margin-left: 20px;


	}
	#text_Firmm{
		padding-left: 80px;
		padding-right: 20px;
	}
	#text_insite_DIV{
		text-align: justify;
	}
	#miargin{
		margin-top: 5px;
	}
	#min_title_Ofert,#More_ofert{
		margin-top: 5px;
	}
	#More_ofert{
		text-align: center;
	}
	#about_firm_sorcout,#about_contakt,#about_Galery,#about_Ofert{
		float: left;
		background-image: url("web/kontak.png");
		background-color: gray;
		width:	250px;
		height: 150px;
		box-shadow:3px 3px 6px black;
	}
	#about_Galery{
		background-image: url("web/xv.png");
	}
	#about_contakt,#about_Galery,#about_firm_sorcout,#about_Ofert{
		margin-top: 20px;

	}
	#about_Galery,#about_Ofert{
		margin-left: 200px;
	}
	#about_Ofert{
		background-image: url("web/ofert.png");
	}
	#about_firm_sorcout{
		background-image: url("web/about.png");
	}
	#close{
		position: absolute;
		font-size:20px; 
	}
	#corent_photo{
		color: white;
		position: absolute;
	}
	#corent_photo_src{
		margin-top: 100px;
		margin-left: 40px;
	}
	#slidePLAY{
		margin-left: 350px;
	}
	#play_SLIDE:hover,#stop_SLIDE:hover{
		opacity: 0.7;
	}
	#stop_SLIDE{
		display: none;
	}
	#up{
		background-image: url("web/up.png");
		background-repeat: repeat-x;
		width: 100%;
		height: 100px;
		

	}
	#slide_main_PLace{
		float: left;
	}
	#slides_01,#slides_02,#slides_03,#slides_04{
		width: 1024px;
		height: 250px;
		background-image: url("web/baner01.png");
		background-repeat: no-repeat;
		margin-left: 0px;
		margin-top:  0px;
		opacity: 1;
	}	
	#slides_02{
		width: 1024px;
		height: 250px;
		background-image: url("web/baner02.png");
		margin-left: 1024px;
		margin-top:  -250px;
	}
	#slides_03{
		background-image: url("web/baner03.png");
		margin-left: 2048px;
		margin-top:  -250px;
	}
	#slides_04{
		background-image: url("web/baner04.png");
		margin-left: 3072px;
		margin-top:  -250px
	}
	#viev_place{
		height: 680px;
		width: 1024px;
		background-color: white;
		background-image: url("web/ps_neutral.png");
	}
	#futer{
		border-top: 1px solid black;
		background-image: url("web/footer.png");
		width: 100%;
		height: 100px;
	}

	#logo{
		width: 30%;
	}
	#logo,#menu{
		margin-top: 30px;
		float: left;
		border-radius: 5px;	
	}
	#menu{
		background-image: url("web/menunothover.png");
		float: left;
		width: 600px;
		height: 40px;
		border: 1px solid black;
	}
	#menu_elment,#menu_elment_first{
	
		float: left;
		padding: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: black;
		left:0px;
	}
	#actual{
		background-image: url("web/menuhover2.png");
		float: left;
		color: white;
		padding: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		left:0px;
		border-radius: 5px 0px 0px 5px; 
	}
	#actual_first{
		background-image: url("web/menuhover2.png");
		float: left;
		color: white;
		padding: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		left:0px;
		
	}



	#menu_elment_first{
		border-left: 0px solid black;
	}
	
	#menu_elment:hover,#menu_elment_first:hover{
		background-image: url("web/menuhover2.png");
		opacity: 0.8;
		color: white;		
	}

	#menu_elment_first:hover{
		border-radius: 5px 0px 0px 5px;
		opacity: 0.8 ;	
	}