<div id="menu_add_slide">
	<center>
		<div id="hed_to_chuse" onclick="onchuselide()">Wybiesz slajd dla  <spam id="div_set"></spam> slajdu</div>
		<div id="hed_add" onclick="onbaner_system()">Dodaj slajdy</div>
	</center>
</div>
<div style="width:100%; height:2px;"></div>
<hr></hr>
<div id="slide_loop_DIV">
	<div class="scrollbar" id="style-1" style="background-image: none;width: 100%; height:500px; margin-top:10px;">
	    <div class="force-overflow">	
				<loop name="loop_slite">
					<div style="background-image: url('[#photo#]');" class="slide_to_edition" onclick="set_slite([#position#],'[#photo#]')"></div>
				</loop name="loop_slite">
	     </div>
	</div>
</div>
<div id="add_slides">
		<div id="notice_slide"></div>
		<div id="add_section_file">
			<input id="sortpicture" type="file" name="sortpic" />
			<div id="upload_icon" onclick="upload()">Dodaj Baner</div>
		</div>
</div>