<div id="dane_right">
	<b id="hed">Dane Adresowe</b>
	<div>[#NAME#]</div>
	<div>[#EMIAl#]</div>
	<div>[#Phone#]</div>
</div>
<div>
	<b id="hed">Data [#TIME#]</b>
	<div id="menu_mes">[#ACTION#]</div>
</div>
<div id="subject">
	[#SUBJECT#]
</div>
<div id="content_messages">
	[#CONTENT#]
</div>
<div id="content_messages_anser" >
	<textarea id="anser_form"></textarea>
	<div id="anserButon">
	</div>
</div>
<style type="text/css">
	#anser_form{
		margin-left: 10%;
		width: 80%;
		height: 300px;
		background-color: white;
	}
	#content_messages{
		display: block;
	}
	#content_messages_anser{
		display: none;
	}
	#subject{
		text-align: center;
	}
	#dane_right{
		float: right;
	}
	#time{
		float: left;
	}
	#hed{
		margin: 10px;
	}
	#subject{
		margin-top: 20px;
		font-size: 20px;
	}
	#anserButon{
		margin-left: 30%;
		width: 300px;
		text-align: center;
		padding: 10px;
		text-transform: uppercase;
		letter-spacing: 10px;
		color: white;
		background-color: green;

	}
	#anserButon:hover{
		background-color: red;
	}
</style>

